.card_wrapper{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgb(221, 220, 220);
}
.card_text{
    font-weight: 600;
    font-size: 0.7rem;
}
.card_number{
    font-weight:800;
    font-size: 1.3rem;
}
.card_icon,.card_icon1{
    height:35px;
    width:35px;
    color:#DDDFEB;
    /* margin-left: 50px; */
}
.card_icon{
    margin-left: 50px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    opacity: 0;
}