.header_wrapper{
    background-color: white !important;
    box-shadow: 0 10px 10px rgba(0.1,0.1,0.1,0.1);
}
.search_icon{
    background-color: #4E73DF;
    color:white;
    padding: 10px;
    height:40px;
    width: 40px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    /* padding: 0 10px; */
}
.left_header{
    width:30%;
}
.right-header{
    color:grey;
}
.icon{
    position: relative;
    cursor: pointer;
}
.notify_icon,.notify_icon1{
    height:25px;
    width: 25px;
    margin: 0 15px;
}
.notify_icon1{
    margin-right: 30px;
}
.header_separator{
    border-right: 2px solid #E9ECEF;
    margin-right: 20px;
}